.profile-starter {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-left: 30%;
}

.profile-starter p {
  font-size: 35px;
  font-weight: 200;
}

.profile-starter ul {
  display: inline;
  list-style: none;
}
