<div class="recipes-header">
  <h1><%= @header %></h1>
</div>


<% if @recipes.empty? %>
  <p>You're recipe book is empty. Click '<em>Add Custom Recipe</em>' to get started!</p>
<% else %>
    <div id="recipe-index">
    </div>
<% end %>
