<div class="splash">
  <h1 class="name"><%=@name%></h1>

  <div class="contact-links">
    <h4 class="email"><i class="fa fa-envelope-o"></i><%=@email%></h4>
    <h4 class="github"><i class="fa fa-github"></i><%=@github%></h4>
    <h4 class="linked-in"><i class="fa fa-linkedin-square"></i><%=@linked_in%></h4>
  </div>
</div>
