.recipe-form {
  margin-left: 10%;
}

.time-count {
  margin-right: 50%;
  margin-left: 20%;
}

.media {
  margin-right: 45%;
  margin-left: 25%;
}

.small {
  display: inline;
}

.save {
  margin-left: 65%;
}
