.recipe-header h1 {
  position: fixed;
  top: 5%;
  margin-left: 0%;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.recipe-permissions {
  text-align: center;
  margin-top: 250px;
}

.recipe-container {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  flex-basis: 50%;
  margin-top: 10px;
}

.recipe-container h6 {
  margin-top: 0.05rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.recipe-container p {
  margin-bottom: 1.2rem;
}

.recipe-container .recipe-description {
  align-self: center;
  text-align: left;
  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  padding: 6px 5px 4px 5px;
  position: relative;
  z-index: -1;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  width: 400px;
  height: 200px;
  z-index: -1;
}

.form-container {
  margin-left: 5%;
}

.submit {
  padding-top: 5px;
}

.recipe-ingredients {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-right: 60%;
  background-color: #ECE9BE;
}

.recipe-ingredients ul {
  font-size: 18px;
  font-weight: 200;
  list-style: none;
  padding-bottom: 10px;
  background-color: #DBECEF;
  padding-left: 15%;
  margin-bottom: 20%;
  margin-left: 0px;
  margin-right: 40px;
  text-align: justify;
}

.recipe-ingredients p {
  padding-left: 50%;
  font-size: 45px;
  line-height: 32px;
  font-weight: 100;
  margin-bottom: 0px;
}

.recipe-ingredients li {
  padding: 0px;
  line-height: 20px;
}

.recipe-ingredients a {
  font-size: 30px;
}

.recipe-instructions li {

}
