/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
 background-color: #fcfcfc;
}

.notice {
 background-color: #c6dcf0;
 padding-left: 10px;
 line-height: 40px;
 margin-bottom: 0;
 margin-top: 104px;
}

.alert {
 background-color: #c6dcf0;
 line-height: 40px;
 margin-bottom: 0;
 padding-left: 10px;
}

.top-bar {
 margin: 0;
 padding: 10px;
 background-color: #e1c9cf;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 3;
}
/* Dropdown Button */
.dropbtn {
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 17px;
   border: none;
   cursor: pointer;
}
h1 {
  margin-top: 44px;
}

.dropdown {
  font-family: Raleway;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.sub-content {
  background-color: #dcdcdc;
}

.dropdown-content a:hover {background-color: #f5f5f5}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown:hover .dropbtn {
   background-color: #e1c9cf;
}
